


#a {
    width: 100%;
    height: 75px;
    background-color: blue;
}
#b {
    width: 100%;
    height: 150px;
    background-color: red;
}

#container2{
    width: 100%;
    height: 250px;
    
}
#c {
    width: 100%;
    height: 50%;
    background-color: orange;
}
#d {
    width: 100%;
    height: 50%;
    background-color: cornflowerblue;
}

#container3{
    width: 100%;
    height: 250px;
}

#e {
    width: 50%;
    height: 100%;
    background-color: yellow;
    float: left;
}
#f {
    width: 50%;
    height: 100%;
    background-color: black;
    float: right;
}

#container4{
    width: 100%;
    height: 250px;
}

#g {
    width: 50%;
    height: 100%;
    background-color: grey;
    float: left;
}
#h {
    width: 50%;
    height: 100%;
    background-color: green;
    float: right;
}
#i {
    width: 100%;
    height: 80px;
    background-color: indigo;
}


