@media screen and (min-width: 768px){

    
    main{
        display: grid;
        grid-template-rows: 100px 200px 250px 150px;
        grid-template-columns: 200px 190px 190px 190px 190px;   
     }
     #a {
         grid-row: 1/2;
         grid-column: 1/6;
     }
     #b {
         grid-row: 2/6;
         grid-column: 1/2;
     }
     #c {
         grid-row:2/3;
         grid-column: 2/4;
     }
     #d {
         grid-row: 2/3;
         grid-column: 4/6;
     }
     #e {
         grid-row: 3/4;
         grid-column: 2/3; 

     }
     #f {
        grid-row: 3/4;
        grid-column: 3/4; 
     }
     
     #g {
        grid-row: 3/4;
        grid-column: 4/5; 
     }
     #h {
        grid-row: 3/4;
        grid-column: 5/6; 
     }
     #i {
        grid-row: 4/5;
        grid-column: 2/6; 
     }

    
} 

@media screen and (min-width: 768px) and (max-width:955px) {

    main{
        display: grid;
        
       
     }

     #a {
        grid-row: 1/4 ;
        grid-column: 1/2;
        background-color: orangered;
    }

    #c {
        grid-row: 1/4;
        grid-column: 2/4;
        background-color: palevioletred;
    }
    #d {
        grid-row:1/4;
        grid-column:4/6;
        background-color: plum;
    }

    #e{
        background-color: rgb(219, 255, 145);
        grid-row:3/5;
       
    }
    
    #f{
        background-color: saddlebrown;
        
    }
    
   #i{
       background-color: silver;
       grid-row:4/5;
       grid-column:3/5;
   }

   #h {
       background-color: springgreen;
       grid-row:3/5;
   }
 
}
 