/* @media screen and (min-width: 768px) and (max-width: 960px)  { */
    @media screen and (min-width: 768px){
     
    main{
    
        height: 800px
    }
    #container1{
        width: 100%;
        height: 12.5%;
        
    }
    
    #a {
    
    width: 100%;
    height: 100%;
    background-color: teal;
    }

#b{
    width: 20%;
    height: 87.5%;
    float: left;
    background-color:crimson;
}
#container2{
    width: 80%;
    height: 25%;
    float: right;
    
}

#c {
    float: left;
    width: 50%;
    height: 100%;
    background-color:palevioletred;
  

   
}
#d {
    float: right;
    width: 50%;
    height: 100%;
    background-color: gold;
  
}


#container3{
    width: 40%;
    height: 31.25%;
    float: right;
}

#e {
    width: 50%;
    height: 100%;
    float: left;
    background-color: darkolivegreen;
}
#f {
    width: 50%;
    height: 100%;
    float: right;
    background-color: khaki;
}

#container4{
    width: 40%;
    height: 31.25%;
    float: right;
}

#g {
    width: 50%;
    height: 100%;
    float: left;
    background-color: lawngreen;
}
#h{
    width: 50%;
    height: 100%;
    float: right;
    background-color: purple;
}

   #i {
    height: 31%;
    width: 80%;
    background-color: seagreen;
    float: right;
}

}

/* @media screen and (min-width: 961px){
        
    main{
    
        height: 800px
    }
    
    #a {
    
    width: 100%;
    height: 12.5%;
    background-color: teal;
    }

#b{
    width: 20%;
    height: 100%;
    float: left;
    background-color:crimson;
}
    #container2{
        width: 80%;
        height: 25%;
        float: right;
        
    }
    
    #c {
        float: left;
        width: 50%;
        height: 100%;
        background-color:palevioletred;
      
    
       
    }
    #d {
        float: right;
        width: 50%;
        height: 100%;
        background-color: gold;
      
    }
    
    
    #container3{
        width: 40%;
        height: 31.25%;
        float: right;
    }
    
    #e {
        width: 50%;
        height: 100%;
        float: left;
        background-color: darkolivegreen;
    }
    #f {
        width: 50%;
        height: 100%;
        float: right;
        background-color: khaki;
    }
    
    #container4{
        width: 40%;
        height: 31.25%;
        float: right;
    }
    
    #g {
        width: 50%;
        height: 100%;
        float: left;
        background-color: lawngreen;
    }
    #h{
        width: 50%;
        height: 100%;
        float: right;
        background-color: purple;
    }
    
       #i {
        height: 18.75%;
        width: 80%;
        background-color: seagreen;
        float: right;
       }


} */